.item-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh; 
    background-color: #f0f4f8; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.item-detail-container p {
    font-size: 1.5rem;
    color: #555;
}

.item-detail {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 800px; 
    transition: transform 0.3s ease;
}

.item-detail:hover {
    transform: scale(1.02); 
}
