.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; 
    padding: 10px 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar-logo img {
    height: 50px; 
}

.navbar-nav {
    flex-grow: 1; 
}

.nav-list {
    display: flex;
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.nav-list li {
    margin: 0 15px; 
}

.nav-list a {
    text-decoration: none; 
    color: #333; 
    font-weight: 500;
    transition: color 0.3s; 
}

.nav-list a:hover {
    color: #007bff; 
}

.user-info {
    display: flex; 
    align-items: center; 
    margin-left: 20px; 
    font-size: 16px; 
    color: #333; 
}

.user-info span {
    font-weight: 500; 
    margin-right: 10px; 
}

.logout-button {
    padding: 5px 10px; 
    border: none; 
    background-color: #f44336; 
    color: white; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.logout-button:hover {
    background-color: #d32f2f; 
}

.login-button {
    padding: 5px 10px; 
    border: none; 
    background-color: #007bff; 
    color: white; 
    cursor: pointer; 
    border-radius: 4px; 
    transition: background-color 0.3s; 
}

.login-button:hover {
    background-color: #0056b3; 
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .nav-list {
        flex-direction: column; 
    }

    .nav-list li {
        margin: 5px 0; 
    }
}
