header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

li {
    list-style: none;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}