.itemListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .itemListContainer h2 {

    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .itemList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
  }
  
  .item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.2s;
  }
  
  .item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .item h3 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #007bff;
  }
  
  .item p {
    font-size: 1rem;
    color: #555;
  }
  